* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	border: 2px solid;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #8ea7e9;
}

@media screen and (max-width: 576px) {
	.content {
		width: 400px;
	}
}
